*{
    box-sizing: border-box;
}

form{
    width: 50%;
    margin: auto;
    color: white;

}

.personal-data-layer{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.logging-data-layer{
    background-color: lightpink;
    padding: 10px;
    color: white;
}

.other-data-layer{
    background-color: darkgoldenrod;
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1 3;
}

.age-layer, .location-layer, .freetime-layer{
    display: flex;
    flex-direction: column;
}

.buttons-layer{
    background-color: cadetblue;
    padding: 10px;
}